{
  "extends": "react-app",
  "rules": {
    "react/prop-types": ["off"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "no-console": ["warn", { "allow": ["info", "error"] }],
    "arrow-parens": ["error", "always"],
    "react-hooks/exhaustive-deps": 0
  }
}
