.hero {
  background: linear-gradient(
      0deg,
      rgba(255, 0, 150, 0.2),
      rgba(255, 0, 150, 0.2) /* rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5) */
    ),
    url("../images/hero-image.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-text {
  padding-top: 60vh;
  padding-left: 16px;
  color: white;
  text-align: left;
}
.hero h1 {
  font-size: 35px;
}

#c1::after {
  content: "\a";
  white-space: pre;
}

#c2 {
  font-weight: normal;
}

.hero p {
  font-size: 16px;
}

.hero-icon-container {
  margin: 0 auo 0;
}

.hero-icon {
  position: absolute;
  bottom: 10px;
  color: white;

  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.hero-icon:hover {
  color: #000;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 1023px) {
  .hero {
    height: 100vh;
  }
  .hero-text {
    padding-top: 25%;
    padding-left: 10%;
  }
  .hero h1 {
    font-size: 60px;
    margin-bottom: 0;
  }

  #c1::after {
    content: "\a";
    white-space: normal;
  }

  .hero p {
    font-size: 35px;
    margin-top: 0;
  }
}

/* featured */
#featured {
  display: flex;
  flex-wrap: wrap;
}

.featured-title {
  text-align: left;
  padding-left: 20px;
}

.featured-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 1023px) {
  .featured-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.feature-button-container {
  margin: 0 auto;
}

.feature-button {
  margin: 50px auto;
  box-shadow: 0 10px 20px rgba(245, 166, 35, 0.5);
  background-color: #f5a623;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.feature-button:hover {
  transform: translateY(-3px);
  color: white;
}

/* info section */
.info {
  padding: 30px;
  text-align: left;
}
.info-a {
  background-color: #f6f7f9;
  padding: 30px;
}

.info-a h1 {
  font-size: 21px;
  color: #004dff;
}
.info-a p {
  font-size: 12px;
}

.info-b {
  background-color: #e3715b;
  padding: 30px;
}

.info-b h1 {
  font-size: 21px;
}
.info-b p {
  font-size: 12px;
}

.info-button {
  border: none;
  background-color: #000;
  color: #fff;
  padding: 8px 20px;
  border-radius: 10px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.info-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1000px) {
  .info {
    display: flex;
    justify-content: center;
    padding: 0 180px;
  }
  .info-a {
    width: 540px;
  }
  .info-a h1 {
    font-size: 35px;
  }
  .info-a p {
    font-size: 14px;
  }
  .info-b {
    width: 540px;
  }
  .info-b h1 {
    font-size: 35px;
  }
  .info-b p {
    width: 70%;
  }
}

/* about us */

.about-us {
  background-color: #f6f7f9;
  margin: 50px auto 0;
  padding: 50px 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-img {
  width: 280px;
  height: 240px;
  border-radius: 20px;
}

.about-us-info {
  width: 290px;
}
.about-us-info p {
  font-size: 12px;
}

.about-us-info h3 {
  font-weight: bold;
}

@media (min-width: 1000px) {
  .about-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 50px;
  }

  .about-us img {
    width: 350px;
    height: 300px;
  }

  .about-us-info {
    width: 430px;
    text-align: left;
    margin-left: 60px;
    padding: 0;
  }
  .about-us-info p {
    font-size: 14px;
  }
}

/* services */
.services {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.services-title {
  margin-bottom: 20px;
}
.services-title p {
  font-weight: bold;
}

.services-items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.services-item {
  padding: 10px;
  width: 80vw;
  height: 130px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 20px;
  border: 1px solid #fff;
}

.services-item:hover {
  border: 1px solid #d3d3d3;
}

.services-icon {
  background-color: #f6f6fe;
  color: #004dff;
  padding: 15px;
  border-radius: 100%;
}

.services-item h3 {
  font-size: 16px;
  color: #4a4a4a;
}
.services-item p {
  margin: 0 auto;
  width: 80%;
  font-size: 12px;
  color: #4a4a4a;
}

@media (min-width: 1000px) {
  .services {
    padding: 20px;
    margin: 50px 0;
  }

  .services-items-container {
    display: flex;
    flex-direction: row;
  }

  .services-icon {
    font-size: 18px;
  }

  .services-item {
    width: 380px;
    height: 180px;
  }

  .services-item h3 {
    font-size: 21px;
  }

  .services-item p {
    margin: 0 auto;
    width: 80%;
    font-size: 16px;
  }
}

/* Testimonials */

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides .slick-prev {
  left: 10%;
}

.slides .slick-next {
  right: 10%;
}

.slide-container {
  max-width: 100%;
  max-height: 400px;
  background-color: #fcfcfc;
  padding: 30px;
  margin-bottom: 50px;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
}

.testimonial-item img {
  margin: 0 auto;
  width: 100px;
  heigth: 100px;
}
.testimonial-item p {
  margin: 0 auto;
  width: 50%;
  color: #4a4a4a;
}
.testimonial-item h3 {
  color: #4a4a4a;
}

@media (min-width: 1000px) {
  .slide-container {
    margin-bottom: 50px;
  }
  .testimonial-item {
    max-width: 40%;
    padding-bottom: 20px;
  }

  .slides .slick-prev {
    left: 35%;
  }

  .slides .slick-next {
    right: 35%;
  }
}

/* Question */

.question {
  margin: 70px 0;
}

.question h2 {
  font-size: 16px;
}
.question p {
  color: #9b9b9b;
  font-size: 12px;
}

.question-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 60vw;
  height: 50px;
  padding-left: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-input {
  border: none;
  color: #9b9b9b;
}

.question-button {
  border: none;
  border-radius: 20px;
  width: 15vw;
  height: 45px;
  margin-right: 3px;
  background-color: #f5a623;
  font-weight: bold;
}

@media (min-width: 1000px) {
  .question {
    margin: 100px 0;
  }
  .question h2 {
    font-size: 21px;
  }
  .question p {
    font-size: 16px;
  }

  .question-form {
    width: 650px;
    height: 75px;
    padding-left: 30px;
    border-radius: 35px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .question-input {
    font-size: 16px;
  }

  .question-button {
    border: none;
    border-radius: 35px;
    width: 145px;
    height: 65px;
    margin-right: 5px;
    background-color: #f5a623;
    font-size: 16px;
  }
}
