/* .App {

}
html,
body {
  height: 100%;
  width: 100%;
} */

html,
body,
#root,
.App {
  height: 100%;
  text-align: center;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button:hover {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  position: fixed;
  width: 90%;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-links a {
  padding: 0.5rem;
}

.header-button {
  border: 0;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.header-button:active {
  transform: scale(1.2);
}

#header-hr {
  position: fixed;
  width: 100%;
  padding-top: 55px;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 1024px) {
  div.header-links a {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  div.header-links button {
    display: none;
  }
  .header {
    width: 95%;
  }
  .brand {
    margin-left: 20px;
  }
  #header-hr {
    position: fixed;
    width: 100%;
    padding-top: 50px;
    border: 0;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
  }
}

/* sidebar */
.sidebar {
  position: fixed;
  z-index: 10;
  right: 0;
  width: 50%;
  /* background-color: #e3715b; */
  background-color: rgba(227, 113, 91, 0.95);
  height: 100%;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  transform: translateX(100%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar a {
  color: white;
  margin-left: 10px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.sidebar a:hover {
  color: #000;
  transform: scale(2);
}

.sidebar li {
  margin: 2rem 0;
  color: white;
  text-align: left;
}

.sidebar li:first-child {
  margin-top: 10vh;
}

.sidebar-icon {
  color: #ab351e;
}

/* footer */

.footer {
  background-color: #e3715b;
  padding: 10px;
  border-top-left-radius: 100px;
}

.footer-container {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.footer-top {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
}

.footer-top h4 {
  font-size: 12px;
}
.footer-top p {
  font-size: 12px;
}

.footer-top-item p {
  margin-bottom: 0;
}
.footer-top-item hr {
  margin-top: 0;
  border: 0;
  border-bottom: 0.5px solid #fff;
}

.footer-contact-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.footer-contact-text {
  margin: 0;
}

.footer-bottom {
  text-align: left;
  padding-left: 50px;
}
.footer-bottom p {
  font-size: 10px;
  font-weight: normal;
}

@media (min-width: 1000px) {
  .footer {
    padding-right: 200px;
  }
  .footer-top h4 {
    font-size: 16px;
  }
  .footer-top p {
    font-size: 16px;
  }

  .footer-bottom {
    padding-left: 50px;
  }
  .footer-bottom p {
    font-size: 12px;
  }
}
